.input {
    position: relative;
    
    span {
        width: 100%;
        height: 2px;
        background-color: lighten($color: $primary, $amount: 30);
        position: absolute;
        left: 0;
        bottom: 0;
        transition: .3s;
    }

    input {
        font-size: 1.3rem;
        outline: none;
        border: none;
        padding: .5rem;
        position: relative;
        text-align: right;
        width: 100%;
        color: $darkText;
        font-family: IRANsans;
        direction: rtl;
    }

    p {
        position: absolute;
        right: 10px;
        top: 50%;
        transition: .2s;
        transform: translateY(-50%);
        color: grey;
        font-size: 1.1rem;
        user-select: none;
    }

    &__disableOverlay {
        position: absolute;
        left: 0;
        top: 0;
        background-color: transparent;
        width: 100%;
        height: 100%;
        z-index: 9;
    }

    &--focus {
        p {
            top: -5px;
            font-size: .8rem;
            right: 0;
            color: $primary;
        }

        span {
            background-color: $primary;
        }
    }


    &--success {
        span {
            background-color: $success;
        }
    }

    &--disable {
        p {opacity: .2;}
        input { opacity: .5; }
        span { opacity: .3; }
    }

    &--invalid {
        p {
            color: $error;
        }


        span {
            background-color: $error !important;
        }
    }
}