@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('../assets/fonts/IRANSans_Bold.woff2') format('woff2'),
	
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('../assets/fonts/IRANSans_Medium.woff2') format('woff2'),
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('../assets/fonts/IRANSans_Light.woff2') format('woff2'),
}

body {
	font-family: IRANSans , sans-serif;
}